[submodule "foobar2000-component-playcount-bin"]
	path = foobar2000-component-playcount-bin
	url = https://aur.archlinux.org/foobar2000-component-playcount-bin.git
[submodule "foobar2000-component-texttools-bin"]
	path = foobar2000-component-texttools-bin
	url = https://aur.archlinux.org/foobar2000-component-texttools-bin.git
[submodule "jcdk-classic"]
	path = jcdk-classic
	url = https://aur.archlinux.org/jcdk-classic.git
[submodule "arc-kde-git"]
	path = arc-kde-git
	url = https://aur.archlinux.org/arc-kde-git.git
[submodule "dhewm3-git"]
	path = dhewm3-git
	url = https://aur.archlinux.org/dhewm3-git.git
[submodule "mn88472-firmware"]
	path = mn88472-firmware
	url = https://aur.archlinux.org/mn88472-firmware.git
[submodule "libretro-beetle-saturn-git"]
	path = libretro-beetle-saturn-git
	url = https://aur.archlinux.org/libretro-beetle-saturn-git.git
[submodule "libretro-flycast-git"]
	path = libretro-flycast-git
	url = https://aur.archlinux.org/libretro-flycast-git.git
[submodule "noto-fonts-emoji-git"]
	path = noto-fonts-emoji-git
	url = https://aur.archlinux.org/noto-fonts-emoji-git.git
[submodule "libretro-prboom-git"]
	path = libretro-prboom-git
	url = https://aur.archlinux.org/libretro-prboom-git.git
[submodule "libretro-mupen64plus-next-git"]
	path = libretro-mupen64plus-next-git
	url = https://aur.archlinux.org/libretro-mupen64plus-next-git.git
[submodule "retroarch-joypad-autoconfig-git"]
	path = retroarch-joypad-autoconfig-git
	url = https://aur.archlinux.org/retroarch-joypad-autoconfig-git.git
[submodule "libretro-stella-git"]
	path = libretro-stella-git
	url = https://aur.archlinux.org/libretro-stella-git.git
[submodule "xemu-git"]
	path = xemu-git
	url = https://aur.archlinux.org/xemu-git.git
[submodule "libretro-database-git"]
	path = libretro-database-git
	url = https://aur.archlinux.org/libretro-database-git.git
[submodule "retroarch-assets-git"]
	path = retroarch-assets-git
	url = https://aur.archlinux.org/retroarch-assets-git.git
[submodule "libretro-dosbox-pure-git"]
	path = libretro-dosbox-pure-git
	url = https://aur.archlinux.org/libretro-dosbox-pure-git.git
[submodule "libretro-core-info-git"]
	path = libretro-core-info-git
	url = https://aur.archlinux.org/libretro-core-info-git.git
[submodule "libretro-pcsx2-git"]
	path = libretro-pcsx2-git
	url = https://aur.archlinux.org/libretro-pcsx2-git.git
[submodule "libretro-genesis-plus-gx-wide-git"]
	path = libretro-genesis-plus-gx-wide-git
	url = https://aur.archlinux.org/libretro-genesis-plus-gx-wide-git.git
[submodule "foobar2000-encoders-bin"]
	path = foobar2000-encoders-bin
	url = https://aur.archlinux.org/foobar2000-encoders-bin.git
[submodule "torrent7z"]
	path = torrent7z
	url = https://aur.archlinux.org/torrent7z.git
[submodule "libretro-fbneo-git"]
	path = libretro-fbneo-git
	url = https://aur.archlinux.org/libretro-fbneo-git.git
[submodule "libretro-virtualjaguar-git"]
	path = libretro-virtualjaguar-git
	url = https://aur.archlinux.org/libretro-virtualjaguar-git.git
[submodule "libretro-cap32-git"]
	path = libretro-cap32-git
	url = https://aur.archlinux.org/libretro-cap32-git.git
[submodule "libretro-gambatte-git"]
	path = libretro-gambatte-git
	url = https://aur.archlinux.org/libretro-gambatte-git.git
[submodule "libretro-melonds-git"]
	path = libretro-melonds-git
	url = https://aur.archlinux.org/libretro-melonds-git.git
[submodule "libretro-mesen-git"]
	path = libretro-mesen-git
	url = https://aur.archlinux.org/libretro-mesen-git.git
[submodule "xbyak-git"]
	path = xbyak-git
	url = https://aur.archlinux.org/xbyak-git.git
[submodule "yuzu"]
	path = yuzu
	url = https://aur.archlinux.org/yuzu.git
[submodule "discord-rpc-git"]
	path = discord-rpc-git
	url = https://aur.archlinux.org/discord-rpc-git.git
[submodule "dynarmic-git"]
	path = dynarmic-git
	url = https://aur.archlinux.org/dynarmic-git.git
[submodule "zydis-git"]
	path = zydis-git
	url = https://aur.archlinux.org/zydis-git.git
[submodule "librw-git"]
	path = librw-git
	url = https://aur.archlinux.org/librw-git.git
[submodule "dracula-alacritty-git"]
	path = dracula-alacritty-git
	url = https://aur.archlinux.org/dracula-alacritty-git.git
[submodule "dracula-xresources-git"]
	path = dracula-xresources-git
	url = https://aur.archlinux.org/dracula-xresources-git.git
[submodule "libretro-chailove-git"]
	path = libretro-chailove-git
	url = https://aur.archlinux.org/libretro-chailove-git.git
[submodule "libchdr-git"]
	path = libchdr-git
	url = https://aur.archlinux.org/libchdr-git.git
[submodule "libretro-ppsspp-git"]
	path = libretro-ppsspp-git
	url = https://aur.archlinux.org/libretro-ppsspp-git.git
[submodule "zycore-c-git"]
	path = zycore-c-git
	url = https://aur.archlinux.org/zycore-c-git.git
[submodule "libretro-neocd-git"]
	path = libretro-neocd-git
	url = https://aur.archlinux.org/libretro-neocd-git.git
[submodule "libowfat-cvs"]
	path = libowfat-cvs
	url = https://aur.archlinux.org/libowfat-cvs.git
[submodule "freetuxtv-git"]
	path = freetuxtv-git
	url = https://aur.archlinux.org/freetuxtv-git.git
[submodule "libretro-jumpnbump-git"]
	path = libretro-jumpnbump-git
	url = https://aur.archlinux.org/libretro-jumpnbump-git.git
[submodule "libretro-same-cdi-git"]
	path = libretro-same-cdi-git
	url = https://aur.archlinux.org/libretro-same-cdi-git.git
[submodule "libretro-beetle-lynx-git"]
	path = libretro-beetle-lynx-git
	url = https://aur.archlinux.org/libretro-beetle-lynx-git.git
[submodule "asmjit-git"]
	path = asmjit-git
	url = https://aur.archlinux.org/asmjit-git.git
[submodule "emacs-dracula-theme-git"]
	path = emacs-dracula-theme-git
	url = https://aur.archlinux.org/emacs-dracula-theme-git.git
[submodule "libretro-mega-bezel-git"]
	path = libretro-mega-bezel-git
	url = https://aur.archlinux.org/libretro-mega-bezel-git.git
[submodule "php-parle-git"]
	path = php-parle-git
	url = https://aur.archlinux.org/php-parle-git.git
[submodule "php-dbus-git"]
	path = php-dbus-git
	url = https://aur.archlinux.org/php-dbus-git.git
[submodule "libretro-ecwolf-git"]
	path = libretro-ecwolf-git
	url = https://aur.archlinux.org/libretro-ecwolf-git.git
