[submodule "foobar2000-component-playcount-bin"]
	path = foobar2000-component-playcount-bin
	url = https://aur.archlinux.org/foobar2000-component-playcount-bin.git
[submodule "foobar2000-component-texttools-bin"]
	path = foobar2000-component-texttools-bin
	url = https://aur.archlinux.org/foobar2000-component-texttools-bin.git
[submodule "vlc-sd-freebox"]
	path = vlc-sd-freebox
	url = https://aur.archlinux.org/vlc-sd-freebox.git
