[submodule "foobar2000-playcount-bin"]
	path = foobar2000-playcount-bin
	url = https://aur.archlinux.org/foobar2000-playcount-bin.git
[submodule "foobar2000-texttools-bin"]
	path = foobar2000-texttools-bin
	url = https://aur.archlinux.org/foobar2000-texttools-bin.git
