[Desktop Entry]
Name=foobar2000
Type=Application
GenericName=Audio player
GenericName[fr]=Lecteur audio
Categories=AudioVideo;Audio;Player;
StartupNotify=false
Exec=foobar2000 %F
Icon=foobar2000
Terminal=false
Actions=Add;Stop;Pause;Play;Previous;Next;Random;Show;Hide;Exit;
MimeType=audio/8svx;audio/x-8svx;audio/aac;audio/x-aac;audio/x-aiff;audio/x-aifc;audio/x-ms-asx;audio/basic;application/x-cda;application/x-cue;audio/flac;audio/x-flac;audio/x-flac+ogg;application/x-fb2k-playlist;audio/x-mpegurl;audio/mp4;audio/x-matroska;audio/x-musepack;audio/mp2;audio/mpeg;audio/x-scpls;audio/ogg;audio/vorbis;audio/x-vorbis;audio/speex;audio/x-speex;audio/x-speex+ogg;audio/x-vorbis+ogg;application/ogg;audio/x-opus+ogg;audio/opus;audio/wav;audio/wave;audio/x-wav;audio/vnd.wave;audio/x-wavpack;audio/x-ms-wma;x-content/audio-player;x-content/audio-cdda;inode/directory;audio/webm;audio/x-ape;
StartupWMClass=foobar2000

[Desktop Action Add]
Name=Append to playlist
Name[fr]=Ajouter à la liste de lecture
Icon=list-add
Exec=foobar2000 --add %F

[Desktop Action Stop]
Name=Stop
Name[fr]=Stop
Icon=media-playback-stop
Exec=foobar2000 --stop

[Desktop Action Pause]
Name=Pause
Name[fr]=Pause
Icon=media-playback-pause
Exec=foobar2000 --pause

[Desktop Action Play]
Name=Play
Name[fr]=Lecture
Icon=media-playback-start
Exec=foobar2000 --play

[Desktop Action Previous]
Name=Previous track
Name[fr]=Piste précédente
Icon=media-skip-backward
Exec=foobar2000 --prev

[Desktop Action Next]
Name=Next track
Name[fr]=Piste suivante
Icon=media-skip-forward
Exec=foobar2000 --next

[Desktop Action Random]
Name=Random track
Name[fr]=Piste aléatoire
Icon=media-playlist-shuffle
Exec=foobar2000 --rand

[Desktop Action Show]
Name=Show window
Name[fr]=Afficher la fenêtre
Icon=view-fullscreen
Exec=foobar2000 --show

[Desktop Action Hide]
Name=Hide window
Name[fr]=Masquer la fenêtre
Icon=view-restore
Exec=foobar2000 --hide

[Desktop Action Exit]
Name=Exit
Name[fr]=Quitter
Icon=application-exit
Exec=foobar2000 --exit
