[Desktop Entry]
Name=foobar2000
Type=Application
GenericName=Audio player
GenericName[fr]=Lecteur audio
Categories=AudioVideo;Audio;Player;
StartupNotify=false
Exec=foobar2000 %F
Icon=foobar2000
Terminal=false
Actions=Add;Play;Pause;Toggle;Previous;Next;Random;Stop;Exit;Show;Hide;
MimeType=audio/8svx;audio/x-8svx;audio/aac;audio/x-aac;audio/x-aiff;audio/x-aifc;audio/x-ms-asx;audio/basic;application/x-cda;application/x-cue;audio/flac;audio/x-flac;audio/x-flac+ogg;application/x-fb2k-playlist;audio/x-mpegurl;audio/mp4;audio/x-matroska;audio/x-musepack;audio/mp2;audio/mpeg;audio/x-scpls;audio/ogg;audio/vorbis;audio/x-vorbis;audio/speex;audio/x-speex;audio/x-speex+ogg;audio/x-vorbis+ogg;application/ogg;audio/x-opus+ogg;audio/opus;audio/wav;audio/wave;audio/x-wav;audio/vnd.wave;audio/x-wavpack;audio/x-ms-wma;x-content/audio-player;x-content/audio-cdda;

[Desktop Action Add]
Name=Append to playlist
Name[fr]=Ajouter à la liste de lecture
Exec=foobar2000 --add %F

[Desktop Action Play]
Name=Play
Name[fr]=Lecture
Exec=foobar2000 --play

[Desktop Action Pause]
Name=Pause
Name[fr]=Pause
Exec=foobar2000 --pause

[Desktop Action Toggle]
Name=Toggle play/pause
Name[fr]=Alterner lecture/pause
Exec=foobar2000 --playpause

[Desktop Action Previous]
Name=Previous track
Name[fr]=Piste précédente
Exec=foobar2000 --prev

[Desktop Action Next]
Name=Next track
Name[fr]=Piste suivante
Exec=foobar2000 --next

[Desktop Action Random]
Name=Random track
Name[fr]=Piste aléatoire
Exec=foobar2000 --rand

[Desktop Action Stop]
Name=Stop
Name[fr]=Stop
Exec=foobar2000 --stop

[Desktop Action Exit]
Name=Exit
Name[fr]=Quitter
Exec=foobar2000 --exit

[Desktop Action Show]
Name=Show window
Name[fr]=Afficher la fenêtre
Exec=foobar2000 --show

[Desktop Action Hide]
Name=Hide window
Name[fr]=Masquer la fenêtre
Exec=foobar2000 --hide
